:root{
    --font-inter:'Inter', sans-serif;
    --font-monrope:'Manrope', sans-serif;
    --font-poppins:'Poppins', sans-serif;
    --font-roboto:'Roboto', sans-serif;
    --color-1:#3E3E3E;
    --color-2-and-bg-sub-main:#FFFFFF;
    --color-3-and-bg-main:#3F87F5;
    --color-4:#0A0826;
    --color-5:#6C6C6C;
    --color-6:#505050;
    --color-7:#231D4F;
    --color-8:#848199;
    --color-9-and-bg-mark:#5243C2;
    --color-10:#0C1920;
    --color-11:#0D0925;
    --color-12:#383838;
    --color-13:#7E848C;
    --color-14:#D9DBE1;
    --color-15:#747474;
    --background-color-footer:#0B0D17;
}
*{
    margin: 0;
    padding: 0;
}
/* header start */
header{
    font-family: var(--font-poppins);
}
.logo h5{
    font-size: 20px;
    font-weight: 700;
}
/* carousel */
.carousel-edit{
    font-family: var(--font-poppins);
}
.carousel-edit h1{
    font-weight: 700;
    font-size: 3.5rem;
}
.carousel-edit p{
    font-weight: 300;
    font-size: .98rem;
    Width: 456px;
    Height: 48px;
    margin-left: 230px;
}
.carousel-edit a{
    color:var(--color-3-and-bg-main);
    margin-bottom: 50px;
}
/* Every moment is Precious */
.every-moment{
    font-family: var(--font-poppins);
}
.every-moment-content h1{
    color: var(--color-4);
    font-weight: 700;
}
.every-moment-content p{
    color: var(--color-5);
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
}
.every-moment-content button{
    font-size: 16px;
}
.every-moment-img img{
    height: 364px;
    width: 546px;
    margin-left: 85px;
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .carousel-edit h1{
        font-weight: 700;
        font-size: 1.2rem;
        
    }
    .carousel-edit p{
        font-weight: 300;
        font-size: .60rem;
        Width: 220px;
        Height: 72px;
        margin-left: 17px;
        padding-top: 20px;
    }
    .every-moment-content button{
        position: relative;
        top: 240px;
        left: 55px;
    }
    .every-moment-content h1{
        font-size: 19px;
    }
    .every-moment-content p{
        font-size: 15px;
    }
    .every-moment-img img{
        height: 214px;
        width: 328px;
        margin: -35px 0 0 26px;
    }
}