
*{
    margin: 0;
    padding: 0;
}
/* header start */
header{
    font-family: var(--font-poppins);
}
.logo h5{
    font-size: 20px;
    font-weight: 700;
}
/* carousel */
.carousel-edit{
    font-family: var(--font-poppins);
}
.carousel-edit h1{
    font-weight: 700;
    font-size: 3.5rem;
}
.carousel-edit p{
    font-weight: 300;
    font-size: .98rem;
    Width: 456px;
    Height: 48px;
    margin-left: 230px;
}
.carousel-edit a{
    color:var(--color-3-and-bg-main);
    margin-bottom: 50px;
}
/* Every moment is Precious */
.every-moment{
    font-family: var(--font-poppins);
}
.every-moment-content h1{
    color: var(--color-4);
    font-weight: 700;
}
.every-moment-content p{
    color: var(--color-5);
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
}
.every-moment-content button{
    font-size: 16px;
}
.every-moment-img img{
    height: 364px;
    width: 546px;
    margin-left: 85px;
}
/* out package */
/* card */
.Our-package{
    margin-top: 100px ;
}
.Our-package-h1{
    margin-bottom: 170px ;
    text-align: center;
    font-size: 38px;
    font-family: var(--font-poppins);
    font-weight: 600;
    color: var(--color-4);
}
.card-edit{
    Width: 232px;
    Height: 387p;
    font-family: var(--font-poppins);
    margin-bottom:20px ;
}
.card-edit h1{
    font-size: 36px;
    font-family: var(--font-roboto);
    font-weight: 700;
    color: var(--color-7);
    margin-bottom: 20px;
}
.card-edit h2{
    font-size: 28px;
    font-family: var(--font-roboto);
    font-weight: 700;
    color: var(--color-7);
    margin-bottom: 15px;
}
.card-edit p{
    font-size: 15px;
    font-weight: 400;
    color: var(--color-8);
    margin-bottom: 12px;
}
.card-edit i{
    color: rgba(82, 67, 194, 0.7);
}
.card-edit button{
    color: var(--color-3-and-bg-main);
    font-size: 15px;
    margin-left: 30px;
}
.special-card{
    Width: 292px;
    Height: 480px;
    background-color: var(--color-3-and-bg-main);
    background-image: url(./icons/watermark.svg);
    background-repeat: no-repeat;
    background-size: 220px;
    background-position: 130px;
    border-radius: 26px;
    font-family: var(--font-poppins);
    color: var(--color-2-and-bg-sub-main);
    padding: 50px 0 0 30px;
    margin-top: -100px;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}
.special-card span{
    position: relative;
    top: -64px;
    left: 200px;
}
.special-card h1{
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 28px;
}
.special-card h2{
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 36px;
}
.special-card-p{
    Width: 210px;
    Height: 46px;
    font-size: 14px;
    font-weight: 200;
    line-height: 19px;
}
.special-card p{
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 15px;
    line-height: 7px;
}
.special-card i{
    color: var(--color-2-and-bg-sub-main);
}
.special-card button{
    color: var(--color-3-and-bg-main);
    border-radius: 24px;
    padding: 8px 50px;
    margin-left: 10px;
}
/* happy clints */
.happy-clints{
    margin: 100px 0 100px 0;
    text-align: center;
    font-size: 38px;
    font-family: var(--font-poppins);
    font-weight: 600;
    color: var(--color-4);
}
.clint{
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    font-family: var(--font-poppins);
}
.clint p{
    font-size: 16px;
    font-weight: 400;
    Width: 253px;
    Height: 104px;
    color: var(--color-5);
}
.clint h1{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 400;
    color: var(--color-10);
}
.post{
    color: var(--color-15);
}
/* Frequently Asked Question */
.faq-content button{
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 22px;
    color: var(--color-12);
    line-height: 38px;
}
.faq-content strong{
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-13);
    line-height: 28px;
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .carousel-edit h1{
        font-weight: 700;
        font-size: 1.2rem;
        
    }
    .carousel-edit p{
        font-weight: 300;
        font-size: .60rem;
        Width: 220px;
        Height: 72px;
        margin-left: 17px;
        padding-top: 20px;
    }
    .every-moment-content button{
        position: relative;
        top: 240px;
        left: 55px;
    }
    .every-moment-content h1{
        font-size: 19px;
    }
    .every-moment-content p{
        font-size: 15px;
    }
    .every-moment-img img{
        height: 214px;
        width: 328px;
        margin: -35px 0 0 26px;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .Our-package-h1{
        padding-top: 80px;
    }
    .card-1{
        margin:-70px 0 0 32px;
    }
    .card-2{
        margin:32px 0 0 32px;
    }
    .special-card{
        margin:30px 0 0 32px;;
    }
    .card-4{
        margin:32px 0 100px 32px;;
    }
    .faq-content button{
        font-family: var(--font-inter);
        font-weight: 700;
        font-size: 18px;
        color: var(--color-12);
        line-height: 38px;
    }
    .faq-content strong{
        font-family: var(--font-inter);
        font-weight: 400;
        font-size: 12px;
        color: var(--color-13);
        line-height: 28px;
    }
}